    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Some Website</title>
</head>
<body>
     {{!-- {{> header}}
      <p>{{screamIt welcomeMessage}}</p>
     {{> footer}} --}}
     <h1>We will be right back</h1>
     <p>Site is currently under Maintance</p>
</body>
</html>